html
	head
		title Crypto chat
		link(href="/css/style.css",rel="stylesheet",type="text/css")
	body
		h1#title Crypto chat
		div#status
		div#clear
		div#content
			block content
		script(type="text/javascript",src="/moonboots/#{js}")